@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: hsl(192, 100%, 9%);
  font-size: 1.15em;
  margin: 0;
}

h1,
h2 {
  font-family: "Poppins", serif;
}

p {
  opacity: 0.6;
}

img {
  max-width: 100%;
}

/* Bloques */
.btn {
  font-weight: 700;
  font-size: 16px;
  padding: 15px 60px;
  background: hsl(0, 0%, 100%);
  border-radius: 50px;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.container {
  width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 100%;
}

.header {
  background-image: url("./imagea/bg-hero-desktop.svg");
  background-size: cover;
  background-position: center center;
  padding: 40px;
  background-color: hsl(193, 100%, 96%);
}

.nav {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.box {
  background-color: hsl(0, 0%, 100%);
  margin: 40px 0;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  padding: 60px;
}

.carousel {
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

footer {
  background-color: hsl(192, 100%, 9%);
  padding: 180px 0 60px;
  color: #fff;
}

/* Elementos */
.header__img {
  margin-left: 20%;
  width: 80%;
}

.box__img {
  max-width: 100%;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  counter-increment: item;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carousel__slide img {
  max-height: 80%;
  max-width: 80%;
}

.carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -40%, 70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

/* Modificadores */
.btn--primary {
  background-color: hsl(322, 100%, 66%);
  color: #fff;
}

.container--center {
  text-align: center;
}

.flex--align-start {
  align-items: flex-start;
}

.font-open-sans--bold {
  font-weight: 700;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

@media screen and (max-width: 768px) {
  body {
    text-align: center;
  }
  .nav {
    flex-direction: row;
  }
  .header__img {
    margin-top: 40px;
    margin-left: 0;
    width: 100%;
  }
  .flex {
    flex-direction: column;
  }
  .box--reverse-mobile {
    flex-direction: column-reverse;
  }
  footer ul {
    padding: 0;
    width: 100%;
  }
  footer p {
    text-align: center;
  }
}
